<div class="container">
  <div id="alert" style="display: none;" class="alert alert-warning alert-dismissible fade show" role="alert">
    <div></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
 
  <p>You have Total {{ data?data.length:'0' }} Notes</p>
  <button class="btn btn-warning mb-3" (click)="toggleCardSection()">
    Get All Notes
  </button>

  <div *ngIf="showCardSection">
    <div class="row">
        <div class="col-md-1 col-lg-4" *ngFor="let d of data">
            <div class="card mt-3 " >
                <h1>{{ d.title }}</h1>
                <p>{{ d.content }}</p>
                <p>{{ d.createdAt | date }}</p>
                <input type="hidden" name="" value="{{ d._id }}" />
                <button class="btn btn-small btn-danger" (click)="deleteNote(d._id)">Delete</button>
                <button class="btn btn-small btn-primary" (click)="updateNoteForm(d._id)">Update</button>
                <div class="mymodals">

                </div>
            </div>
        </div>
    </div>
</div>

</div>
